backend/scaner_venv
*__pycache__
backend/migrations/versions/*.*
backend/migrations/Readme
backend/parser/driver
frontend/.vscode
frontend/node_modules
frontend/.eslintrc.cjs
frontend/package-lock.json